// Watch the scss code so that it syncs changes to the css folder
// sass --watch style.scss style.css

// CSS reset
@import "_reset.scss";

//variables
@import "_variables.scss";

//colours
@import "_colors.scss";

//cards -- create new scss file
@import "./components/_cards.scss";

//tables -- create new scss file
@import "./components/_tables.scss";

//buttons -- create new scss file
@import "./components/_buttons.scss";

//font import
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');


//basic html elements (body/p, input/label, anchors/links, ul, ol, li, etc.) 

body {
    font-family: 'Cabin', sans-serif;
    line-height: 1.3;
}

a {
    color: $primary;
    font-weight: 700;
}

ul {
    list-style:square inside;
}

li {
    list-style-type: upper-roman;
}

ol {
    list-style:upper-roman inside;
}

label {
    color: $primary;
    font-weight: 700;
}

input {
    border-radius: 10px;
    border: 2px solid $primary;
}

p{
    font-family: $cabin;
}

/* heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 */

h1 {
    font-size: $font-size-xxl;
    font-family: 'Butcherman', Copperplate, Papyrus, fantasy;
    color: $primary;

}

h2 {
    font-size: $font-size-xl;
    font-family: 'Staatliches', sans-serif;
    color: $primary;
    text-transform: uppercase;
}

h3 {
    font-size: $font-size-lg;
    color: $secondary;
    font-weight: 700;
}

h4 {
    font-size: $font-size-lg;
    color: $secondary;
    font-style: italic;
    font-weight: 700;
}

h5 {
    font-size: $base-font-size;
    color: $secondary;
    font-weight: 700;
}

h6 {
    font-size: $base-font-size;
    color: $secondary;
    font-weight: 700;
    font-style: italic;
}

/* input Label: a - anchojr/link ul - {list-style-type: square;} *Figma does not have square bullets List 1 List 2 List 3 ol - {list-style-type: upper-roman;} I. List 1 II. List 2 III. List 3 li - List Item p - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis, ante vel hendrerit suscipit, diam lorem sodales ex, eu feugiat metus dui non tellus. */



