@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-primary {
  color: #363B67;
}

.text-hover-primary:hover {
  color: #363B67;
}

.bg-primary {
  background-color: #363B67;
}

.br-primary {
  border: 2px solid #363B67 !important;
}

.br-left-primary {
  border-left: 2px solid #363B67 !important;
}

.br-right-primary {
  border-right: 2px solid #363B67 !important;
}

.br-top-primary {
  border-top: 2px solid #363B67 !important;
}

.br-bottom-primary {
  border-bottom: 2px solid #363B67 !important;
}

.text-secondary {
  color: #172440;
}

.text-hover-secondary:hover {
  color: #172440;
}

.bg-secondary {
  background-color: #172440;
}

.br-secondary {
  border: 2px solid #172440 !important;
}

.br-left-secondary {
  border-left: 2px solid #172440 !important;
}

.br-right-secondary {
  border-right: 2px solid #172440 !important;
}

.br-top-secondary {
  border-top: 2px solid #172440 !important;
}

.br-bottom-secondary {
  border-bottom: 2px solid #172440 !important;
}

.text-tertiary {
  color: #78B691;
}

.text-hover-tertiary:hover {
  color: #78B691;
}

.bg-tertiary {
  background-color: #78B691;
}

.br-tertiary {
  border: 2px solid #78B691 !important;
}

.br-left-tertiary {
  border-left: 2px solid #78B691 !important;
}

.br-right-tertiary {
  border-right: 2px solid #78B691 !important;
}

.br-top-tertiary {
  border-top: 2px solid #78B691 !important;
}

.br-bottom-tertiary {
  border-bottom: 2px solid #78B691 !important;
}

.text-warning {
  color: #08DB09;
}

.text-hover-warning:hover {
  color: #08DB09;
}

.bg-warning {
  background-color: #08DB09;
}

.br-warning {
  border: 2px solid #08DB09 !important;
}

.br-left-warning {
  border-left: 2px solid #08DB09 !important;
}

.br-right-warning {
  border-right: 2px solid #08DB09 !important;
}

.br-top-warning {
  border-top: 2px solid #08DB09 !important;
}

.br-bottom-warning {
  border-bottom: 2px solid #08DB09 !important;
}

.text-success {
  color: #604187;
}

.text-hover-success:hover {
  color: #604187;
}

.bg-success {
  background-color: #604187;
}

.br-success {
  border: 2px solid #604187 !important;
}

.br-left-success {
  border-left: 2px solid #604187 !important;
}

.br-right-success {
  border-right: 2px solid #604187 !important;
}

.br-top-success {
  border-top: 2px solid #604187 !important;
}

.br-bottom-success {
  border-bottom: 2px solid #604187 !important;
}

.text-light {
  color: #F5F5F5;
}

.text-hover-light:hover {
  color: #F5F5F5;
}

.bg-light {
  background-color: #F5F5F5;
}

.br-light {
  border: 2px solid #F5F5F5 !important;
}

.br-left-light {
  border-left: 2px solid #F5F5F5 !important;
}

.br-right-light {
  border-right: 2px solid #F5F5F5 !important;
}

.br-top-light {
  border-top: 2px solid #F5F5F5 !important;
}

.br-bottom-light {
  border-bottom: 2px solid #F5F5F5 !important;
}

.text-dark {
  color: #010C11;
}

.text-hover-dark:hover {
  color: #010C11;
}

.bg-dark {
  background-color: #010C11;
}

.br-dark {
  border: 2px solid #010C11 !important;
}

.br-left-dark {
  border-left: 2px solid #010C11 !important;
}

.br-right-dark {
  border-right: 2px solid #010C11 !important;
}

.br-top-dark {
  border-top: 2px solid #010C11 !important;
}

.br-bottom-dark {
  border-bottom: 2px solid #010C11 !important;
}

.card-1-primary {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #363B67;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-primary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-primary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-primary {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #363B67;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-primary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-primary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-secondary {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #172440;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-secondary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-secondary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-secondary {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #172440;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-secondary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-secondary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-tertiary {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #78B691;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-tertiary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-tertiary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-tertiary {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #78B691;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-tertiary .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-tertiary .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-warning {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #08DB09;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-warning .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-warning .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-warning {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #08DB09;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-warning .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-warning .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-success {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #604187;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-success .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-success .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-success {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #604187;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-success .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-success .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-light {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #F5F5F5;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-light .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-light .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-light {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #F5F5F5;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-light .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-light .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.card-1-dark {
  display: block;
  margin: 0.625rem;
  max-width: 280px;
  background-color: #010C11;
  border: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-1-dark .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
.card-1-dark .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
}

.card-2-dark {
  display: flex;
  margin: 0.625rem;
  max-width: 450px;
  background-color: #010C11;
  border: 2px solid;
  border-radius: 10px;
}
.card-2-dark .card-title {
  font-size: 2.25rem;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
}
.card-2-dark .card-body {
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  padding: 0.625rem;
  border-left: 2px solid;
  border-radius: 0;
}

.btn {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #e2e2e2;
}

.btn-primary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #363B67;
}
.btn-primary:hover {
  background-color: #3f4578;
}

.btn-outlined-primary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #363B67;
}
.btn-outlined-primary:hover {
  background-color: #363b67;
}

.btn-secondary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #172440;
}
.btn-secondary:hover {
  background-color: #1e2f53;
}

.btn-outlined-secondary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #172440;
}
.btn-outlined-secondary:hover {
  background-color: #172440;
}

.btn-tertiary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #78B691;
}
.btn-tertiary:hover {
  background-color: #89bf9e;
}

.btn-outlined-tertiary {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #78B691;
}
.btn-outlined-tertiary:hover {
  background-color: #78b691;
}

.btn-warning {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #08DB09;
}
.btn-warning:hover {
  background-color: #09f40a;
}

.btn-outlined-warning {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #08DB09;
}
.btn-outlined-warning:hover {
  background-color: #08db09;
}

.btn-success {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #604187;
}
.btn-success:hover {
  background-color: #6c4998;
}

.btn-outlined-success {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #604187;
}
.btn-outlined-success:hover {
  background-color: #604187;
}

.btn-light {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.btn-light:hover {
  background-color: white;
}

.btn-outlined-light {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #F5F5F5;
}
.btn-outlined-light:hover {
  background-color: whitesmoke;
}

.btn-dark {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #010C11;
}
.btn-dark:hover {
  background-color: #021d29;
}

.btn-outlined-dark {
  font-family: "Staatliches", sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.4166666667rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #010C11;
}
.btn-outlined-dark:hover {
  background-color: #010c11;
}

body {
  font-family: "Cabin", sans-serif;
  line-height: 1.3;
}

a {
  color: #363B67;
  font-weight: 700;
}

ul {
  list-style: square inside;
}

li {
  list-style-type: upper-roman;
}

ol {
  list-style: upper-roman inside;
}

label {
  color: #363B67;
  font-weight: 700;
}

input {
  border-radius: 10px;
  border: 2px solid #363B67;
}

p {
  font-family: "Cabin", sans-serif;
}

/* heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 */
h1 {
  font-size: 4rem;
  font-family: "Butcherman", Copperplate, Papyrus, fantasy;
  color: #363B67;
}

h2 {
  font-size: 3rem;
  font-family: "Staatliches", sans-serif;
  color: #363B67;
  text-transform: uppercase;
}

h3 {
  font-size: 2.25rem;
  color: #172440;
  font-weight: 700;
}

h4 {
  font-size: 2.25rem;
  color: #172440;
  font-style: italic;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  color: #172440;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  color: #172440;
  font-weight: 700;
  font-style: italic;
}

/* input Label: a - anchojr/link ul - {list-style-type: square;} *Figma does not have square bullets List 1 List 2 List 3 ol - {list-style-type: upper-roman;} I. List 1 II. List 2 III. List 3 li - List Item p - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis, ante vel hendrerit suscipit, diam lorem sodales ex, eu feugiat metus dui non tellus. */

/*# sourceMappingURL=style.css.map */
