@use 'sass:math';

@mixin btn($bg-color: #e2e2e2) {
    font-family: 'Staatliches', sans-serif;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: math.div($base-padding,1.5) $base-padding * 3;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}

.btn {
    @include btn;
}

@each $key, $val in $colors {
.btn-#{$key} {
    @include btn($val);
    &:hover {
        background-color: lighten($val, 5%)
    }
 }  
 
 .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
        background-color: lighten($val, 0%)
    }
 }
}