
@each $key, $val in $colors {
.card-1-#{$key}{
    display: block;
    margin: $base-margin;
    background-color: $val;
    border: $base-border-thickness solid;
    border-radius: $base-border-radius;
 



    .card-title{
        font-size: $font-size-lg;
        font-family: $staalitches;
        display: flex;
        justify-content: center;
        border-bottom: $base-border-thickness solid;
    }

    .card-body{
        font-size: $base-font-size;
        font-family: $cabin;
        padding: $base-padding;
    }
}

.card-2-#{$key}{
    display: flex;
    margin: $base-margin;
    max-width: 450px;
    background-color: $val;
    border: $base-border-thickness solid;
    border-radius: $base-border-radius;

    .card-title{
        font-size: $font-size-lg;
        font-family: $staalitches;
        display: flex;
        justify-content: center;
    }

    .card-body{
        font-size: $base-font-size;
        font-family: $cabin;
        padding: $base-padding;
        border-left: $base-border-thickness solid ;
        border-radius: 0;
    }
}
}